.button_style{
    text-align: center;
    button {
        background-color: #4CAF50; /* Example button color */
        color: white; /* Text color */
        border: none;
        width: 370px;
        height: 44px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;

        &:disabled{
            background-color: #c9c9c9;
            color: gray;
            cursor: not-allowed;
        }
    }
}

