.grid {
        .product_items {
        margin-bottom: 30px;
        display: flex;
        gap: 10px;
        align-items: center;

        label {
            white-space: nowrap;
            font-weight: 600;            
        }

        input[type="text"],
        input[type="number"]{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #e5e7eb;
            transition: border-color 0.3s ease;
            border-radius: 7px;

            &:hover{
                border-color: rgb(75, 75, 75);
            }

            &.active{
                border-color: rgb(255, 130, 85);
            }
        }

        .image_container{
            display: flex;
            gap: 16px;

            img{
                margin-top: 10px;
                max-width: 100px;
                max-height: 100px;
                object-fit: cover;
            }
    
            input[type="file"]::file-selector-button{
                width: 80px;
                height: 30px;
                background: #e5e7eb;
                border: none;
                font-size: 13px;
                cursor: pointer;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: rgb(255, 130, 85);
                    color: #fff;
                }
            }

            .image_size_info{
                margin-top: 25px;
                color: gray;
                font-size: 13px;
            }
        }

        
    }
}
