.roulette_button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #815c5c;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); 
    }