.detail_container {
    position: relative; /* 자식 요소의 절대 위치를 지정할 수 있게 함 */
    
    .mainImage {
        width: 560px;
        height: 300px;
        overflow: hidden; /* 이미지의 넘치는 부분 숨기기 */
        position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지 비율 유지하면서 크기 맞추기 */
        }   


        .title {
            position: absolute;
            bottom: 17px;
            left: 22px;
            color: white;
            z-index: 2;
            font-size: 20px;
            font-weight: bold;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1; 
        }
    }

    .challenge_schedule_date{
        display: flex;
        /* flex-direction: column; */
        margin-bottom: 30px;
        background: #f1f1f1;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 14px;
        margin-top: 5px;
        /* gap: 8px; */
        color: #333;
        justify-content: space-between;

        .challenge_date{
            display: flex;
            gap: 5px;
            align-items: center;

            span{
                font-weight: bold;
            }
        }

        .challenge_duration{
            display: flex;
            gap: 8px;
            span{
                background: #007bff;
                padding: 3px 8px;
                color: #fff;
                border-radius: 4px;
                font-size: 13px;
            }
        }
    }

    .challenge_schedule_time{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 135px;
        margin-top: 5px;
        color: #333;
        margin-bottom: 30px;
        background: #f1f1f1;
        padding: 20px;
        border-radius: 6px;
        font-size: 14px;

        .challenge_startTime, .challenge_endTime{
            display: grid;
            justify-items: center;

            .time{
                font-size: 17px;
                font-weight: bold;
            }
        }
    }

    .myAuth {
        margin-top: 20px;

        .myAuth_state{
            display: flex;
            justify-content: space-between;

            .progress, .deposit{
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    &:first-child {
                        font-size: 14px;
                    }
            
                    &:last-child {
                        font-weight: bold;
                    }
            }
        }
    }

        .progressBar {
            width: 100%; 
            height: 12px; 
            background-color: #e0e0e0; 
            border-radius: 10px; 
            overflow: hidden; 
            margin-top: 10px;
        }

        .progressFill {
            height: 100%; 
            background-color: #ff6767; 
            border-radius: 10px 0 0 10px; 
            transition: width 0.4s ease; 
        }
    }

    .authResult {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                &:first-child{
                    font-size: 14px;
                }
            }
        }
    }
}
