.snsLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
        width: 25px;
    }

    .kakao,
    .naver {
        display: flex;
        align-items: center; 
        justify-content: center;
        gap:10px;
        padding: 11px 23px;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .kakao {
        background-color: #fee500;
        color: #000;

        &:hover {
            background-color: #fee5005c;
        }
    }

    .naver {
        background-color: #00d337;
        color: #fff;

        &:hover {
            background-color: #00d3377d;
        }
    }
}
