.bottom {
    border-radius: 0px 0px 7px 7px;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    justify-content: center;

    &.unselected {
        background-color: #b7b7b7;
    }

    &.success {
        background-color: #28a745; 
    }

    &.fail {
        background-color: #dc3545; 
    }
}