.delete_button{
    background: #ff6060;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.manage_button{
    background: #007bff;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}