.sns_register{
    margin-bottom: 100px;

    h1{
        margin-top:50px;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
    }
}

.email_register{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}

.already_have_account{
    display: flex;
    font-size: 14px;
    justify-content: center;
    gap: 10px;

    p{
        text-decoration: underline;
        color: rgb(255, 130, 85);
    }
}