.page_title{
    font-size: 25px;
    font-weight: bold;
}

.pastEvent {
    opacity: 0.6;
    pointer-events: none; /* 클릭 불가하게 설정 */
}

.event_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterButtons{
    margin-top: 100px;
    margin-bottom: 50px;

    button{
        padding: 3px 13px;
        border-radius: 30px;
        margin-right: 10px;
        background-color: #efefef;
        color: #333;
        transition: all 0.3s ease-in-out;
        font-size: 15px;

        &.active{
            background: #007bff;
            color: #fff;
        }
    }
}

.eventList{
    display: flex;
    flex-wrap: wrap;
    gap: 70px; /* Add some space between the items */
    justify-content: space-between; /* Distribute items evenly */
    

    .eventItem{
        width: calc(50% - 40px); /* Adjust the width to fit 2 items per row, considering the gap */
        margin-bottom: 20px;
        border-radius: 0px 0px 40px;
        box-shadow: rgba(0, 0, 0, 0.08) 12px 7px 20px 0px;
        overflow: hidden;

        .event_text{
            background-color: rgb(255, 255, 255);
            
            padding: 20px;

            .event_status{
                margin-bottom: 20px;

                .status {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 6px;
                }
                
                .status.past {
                    color: gray;
                }
                
                .status.ongoing {
                    color: rgb(28, 171, 226);
                }

                .event_title{
                    font-weight: bold;
                    font-size: 17px;
                    cursor: pointer;
                }

                .event_description{
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            .event_date{
                font-size: 14px;
            }
        }
    }
}